<h2><%= @recipe.title %></h2>


<!-- Give rating -->
<h4>Rating:</h4>
    <%= @recipe.rating %> Star(s)
  <!-- <% if @recipe.rating != nil %>
    <%= @recipe.rating %>
  <% else %>
    <p>Not rated yet.</p>
  <% end %> -->

<h3>Rate this recipe:</h3>
<form action="/recipes/<%= @recipe.id %>/rating" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="rating">Rating:</label>
    <div class="form-group">
      <select class="form-control" name="rating" style="width: 10%;">
        <option value="5">Five</option>
        <option value="4">Four</option>
        <option value="3">Three</option>
        <option value="2">Two</option>
        <option value="1">One</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Rate</button>
</form>


<!--Update category for this recipe -->
<h3>Assign categories:</h3>
<form action="/recipes/<%= @recipe.id %>/categories" method="post">
    <input type="hidden" name="_method" value="patch">
      <div class="form-group">
      <% @categories.each do |category| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="category_ids[]" value="<%= category.id %>"><%= category.name%>
          </label>
        </div>
      <% end %>
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
</form>
<hr>

<!-- Add instructions -->
<form action="/recipes/<%= @recipe.id %>" method="post">
  <div class="form-group">
      <input type="hidden" name="_method" value="patch">
    <label for="instructions">Enter instructions to make <%= @recipe.title %></label>
    <textarea class="form-control" name="instructions" rows="10" required="" style="width: 50%;"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


<hr>


<h3> Categories:</h3>
<% @recipe.categories.each do |category| %>
  <ul>
      <li> <%= category.name %> </li>
  </ul>
<% end %>


<!-- Current Ingredients -->
<h3>Ingredients for <%= @recipe.title %></h3>
<% if @ingredients_for_recipe.any? %>
  <ul>
    <% @ingredients_for_recipe.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No current ingredients available.</p>
<% end %>



<!-- Form for assigning ingredients -->
<h3>Add Ingredients for <%= @recipe.title %></h3>
  <form action="/recipes/<%= @recipe.id%>/ingredient" method="post">
    <input type='hidden' name='_method' value="patch">
      <div class"form-group">
        <% @ingredients.each do |ingredient| %>
        <div class="checkbox">
          <label>
              <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id%>"><%= ingredient.name%>
          </label>
        </div>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
</form>


<h3>Recipe Instructions for <%= @recipe.title %></h3>
<% if @recipe.instructions != nil %>
  <p>
    <%= @recipe.instructions %>
  </p>
  <% else %>
  <p>
      No instructions available.
  </p>
  <% end %>



<form class="form-group" action="/<%= @recipe.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">

  <label for="title"><h3>Delete <%= @recipe.title %> from database.</h3></label>
  <br>
  <button type="submit" class="btn btn-danger">Delete</button>

</form>
